@import "tailwindcss";
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

:root {
  --background: #ffffff;
}
body {
  background: var(--background);
}

@theme {
  --color-primary: #1baa56;
  --color-background: #ffffff;
  --color-text: #393e46;
}