@import "tailwindcss";

:root {
  --background: #ffffff;
}
body {
  background: var(--background);
}

@theme {
  --color-primary: #1baa56;
  --color-background: #ffffff;
  --color-text: #393e46;
  --font-lato: var(--font-lato);
}